# Formula One Analysis

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Read In Data

In [7]:
# show all csv files
for f in os.listdir():
    if 'csv' in f:
        print(f)

GrandPrix_fastest-laps_details_1950_to_2022.csv
GrandPrix_races_details_1950_to_2022.csv
GrandPrix_drivers_details_1950_to_2022.csv

In [10]:
# read each csv file
df_drivers = pd.read_csv('GrandPrix_drivers_details_1950_to_2022.csv', encoding='latin-1')
df_races = pd.read_csv('GrandPrix_races_details_1950_to_2022.csv', encoding='latin-1')
df_laps = pd.read_csv('GrandPrix_fastest-laps_details_1950_to_2022.csv', encoding='latin-1')

## Cleaning

In [12]:
## check for missing data
df_drivers.isnull().sum()

Pos             0
Driver          0
Nationality     0
Car            11
PTS             0
year            0
dtype: int64

In [17]:
df_drivers[df_drivers['Car'].isnull()]

    Pos                   Driver Nationality  Car   PTS  year
16   13     Dorino  Serafini SER         ITA  NaN   3.0  1950
17   13  Philippe  Etancelin ETA         FRA  NaN   3.0  1950
21   20      Eugene  Chaboud CHA         FRA  NaN   1.0  1950
35   12        Louis  Rosier ROS         FRA  NaN   3.0  1951
53   13         Ken  Wharton WHA         GBR  NaN   3.0  1952
309  18       Masten Gregory GRE         USA  NaN   0.0  1963
314  18        Mike Hailwood HAI         GBR  NaN   0.0  1963
446  13      Richard Attwood ATT         GBR  NaN   3.0  1969
478   2      Ronnie Peterson PET         SWE  NaN  33.0  1971
492  16         Mark Donohue DON         USA  NaN   4.0  1971
493  16      Henri Pescarolo PES         FRA  NaN   4.0  1971

In [37]:
## Manually fill in missing values
df_drivers.at[16, 'Car'] = 'Ferrari'
df_drivers.at[17, 'Car'] = 'Talbot-Lago'
df_drivers.at[21, 'Car'] = 'Talbot-Lago'
df_drivers.at[35, 'Car'] = 'Talbot-Lago'
df_drivers.at[53, 'Car'] = 'Frazer Nash'
df_drivers.at[309, 'Car'] = 'Lotus BRM'
df_drivers.at[314, 'Car'] = 'Lotus Climax'
df_drivers.at[446, 'Car'] = 'Lotus Ford'
df_drivers.at[478, 'Car'] = 'March Ford'
df_drivers.at[492, 'Car'] = 'Mclaren Ford'
df_drivers.at[493, 'Car'] = 'March Ford'

In [38]:
df_drivers[df_drivers['Car'].isnull()]

Empty DataFrame
Columns: [Pos, Driver, Nationality, Car, PTS, year]
Index: []

In [13]:
## check for missing data
df_races.isnull().sum()

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          3
Time          0
year          3
dtype: int64

In [14]:
## check for missing data
df_laps.isnull().sum()

Grand Prix    0
Driver        0
Car           0
Time          0
year          1
dtype: int64